.alert{
    box-shadow: 5px 4px 12px 1px var(--neutral-mild);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--neutral);
    display: inline-block;
    width: 10rem;
    margin: 1rem;
}

.alert-warning{
    color: var(--failure);
    box-shadow: 5px 4px 12px 1px var(--failure-mild);
}

.alert-success{
    color: var(--success);
    box-shadow: 5px 4px 12px 1px var(--success-bright);
}