.badge-solid{
    display: inline-block;
    background-color: var(--neutral);
    padding: 0.3rem;
    margin: 1rem;
    border-radius: 1rem;
    color: var(--white);
}

.badge-success{
    background-color: var(--success);
}

.badge-failure{
    background-color: var(--failure);
}

.badge-primary{
    background-color: var(--primary);
}

.badge-secondary{
    background-color: var(--secondary);
}