.avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.avatar-container{
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
}

.avatar-bubble{
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.bubble-active{
    background-color: var(--success-bright);
}

.bubble-inactive{
    background-color: var(--failure);
}