.button-solid{
    color: var(--white);
    outline: none;
    border: 0px;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.button-primary{
    background-color: var(--primary);
}

.button-secondary{
    background-color: var(--secondary);
}

.button-success{
    background-color: var(--success-mild);
}

.button-success:hover{
    background-color: #209892;
}

.button-warning{
    background-color: #b71212;
}

.button-warning:hover{
    background-color: #ff4848;
}   