.card-container{
    margin: 1rem;
    max-width: 17rem;
    min-height: 20rem;
    display: inline-block;
    box-sizing: border-box;
    padding:0.5rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 7px 9px 13px 5px var(--neutral-mild);
}

.card-image{
    width: 250px;
    height: 250px;
}

.typography{
    box-sizing: border-box;
    padding: 0.5rem;
}

.typography h4{
    margin: 0px;
    padding-bottom: 1rem;
}

.typography p{
    width: 15rem;
    margin: 0px;
}