.dropdownList{
    list-style: none;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto;
    padding: 0px;
}

.dropdownList a{
    text-decoration: none;
    color: white;
}
