.rating-container{
    border: 2px solid var(--black);
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem;
    box-sizing: border-box;
}

.rating-container span{
    margin-left: 0.5rem;
}

.primary-rating{
    color: var(--white);
    border:0px;
    border-radius: 0.5rem;
    background-color: var(--primary);
}